extends layout

block content
  .container
    .page-header
      h3 Fluffle demo
      div.row#score
        div.col-md-8
          h4 Arrow keys to move left and right - spacebar to shoot!
        div.col-md-1
          h4 Score:
        div.col-md-3#scoreUpdate
      div.row#demo
        div.overlay#legalese
        div.content#text




block extraFooter
  != js('lib/phaser.min.js')
  != js('legalese')

