extends layout
block content
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
        .carousel-inner
            .item.active
                .container
                    .carousel-caption(style="margin-bottom: 100px;")
                        .col-md-6
                            img.img-responsive.img-thumbnail(style="height: 250px;" src='images/terms-snip.jpg', alt='Terms of Use blurred')
                        .col-md-6
                            h1 Engage your users!
                            p
                                | Create an interactive experience that makes your legal documents accessible and understandable.
                            p
                                a.btn.btn-lg.btn-primary(href='demo', role='button') See the demo
            .item
                .container
                    .carousel-caption(style="margin-bottom: 100px;")
                        .col-md-6
                            h1 Deliver memorable license agreements!
                            p
                                | No more "but I never saw that"!
                            p
                              a.btn.btn-lg.btn-primary(href='demo', role='button') See the demo
                        .col-md-6
                            img.img-responsive.img-thumbnail(style="height: 250px;" src='images/license-snip.jpg',  alt='License Agreement blurred')

            .item
                .container
                    .carousel-caption
                        img.img-responsive.img-thumbnail(src='images/fluffle.jpg', alt='The original Fluffle')
                        h1 Obey my dog!
                        p
                            | This is Sunny, the original Fluffle.
                        p
                            a.btn.btn-lg.btn-primary(href='demo', role='button') See the demo

        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.fa.fa-chevron-left.carousel-chevron
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.fa.fa-chevron-right.carousel-chevron
    .container
        .row
            .col-md-7
                h2
                    | Terms of Use documents are BORING.
                    br
                    span.text-muted
                      | But, they don&apos;t need to be.
                p.lead
                    | No one in the history of
                    span.text-danger
                      | &nbsp;EVER&nbsp;
                    | has read this document from beginning to end.
                    | Why? Because it's boring and was written not to be read, but to be agreed to by scrolling to the bottom and clicking a "yeah, yeah, yeah, I agree" link.
            .col-md-5
                img.img-responsive.drop-shadow(src='images/terms-snip.jpg', alt='Terms of Use blurred')
        br
        hr
        br
        .row
            .col-md-5
              img.img-responsive.drop-shadow(src='images/license-snip.jpg',  alt='License Agreement blurred')
            .col-md-7
                h2.text-right
                    | End User License Agreement?
                    br
                    span.text-muted FOUR THOUSAND words
                p.lead
                    | Let's be serious. It's mandatory to click "yes, I read this and agree" or your customer can't access your whatever (site, application, etc). But, it's 4000 incredibly boring words long.
                    br
                    br
                    | They aren't going to read it. They know it; you know it.
        br
        hr
        br
        .row
            .col-md-7
                h2
                    |The solution:
                    br
                    span.text-muted Fluffle!
                p.lead
                    | Your legal documents gamified so your users know the important information you need them to know and aren't bored to tears (or worse, leaving) in the process.
            .col-md-5
                img.img-responsive(data-src='holder.js/500x500/auto', alt='Generic placeholder image')
        hr